@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}